body{
    background-color:#f1f1f1;
}

.container{
    position:relative;
    top:100px;
    left:100px;
}

#messages{
    background:white;
    width:500px;
    height:300px;
}

#m{
    width:470px;
}

video {
           background: black;
           border: 1px solid gray;
        }
         .page {
           position: relative;
           display: block;
           margin: 0 auto;
           width: 500px;
           height: 500px;
         }
         #yours {
           width: 150px;
           height: 150px;
           position: absolute;
           top: 15px;
           right: 15px;
        }
         #theirs {
           width: 500px;
           height: 500px;
        } 